<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Pengaturan" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <h4>Language</h4>

  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col  [ngStyle]="{'background-color': bg_en}">
        <img src="assets/flags/us.png" (click)="bahasa('en')" style="width: 40px;">
        <div>English</div>
      </ion-col>
      <ion-col [ngStyle]="{'background-color': bg_in}">
        <img src="assets/flags/id.png" (click)="bahasa('id')" style="width: 40px;">
        <div>Bahasa</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>