.btn_tambah {
  // font-size: 12px;
  text-transform: none;
}

.nama_item {
  font-size: 19px;
  font-weight: 500;
}

.st_check {
  text-decoration: line-through;
}

.nominal {
  color: #999;
  font-weight: 500;
}

.total {
  background-color: #fff;
  border-radius: 8px;
  td {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
  }
}


