<!-- <ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> --
    <ion-buttons slot="start">
      <ion-button color="light" [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"Catatan Belanja" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn_tambah" [routerLink]="['/list', '']" color="light" fill="solid" style="min-width: 76px;">
        <ion-icon name="add"></ion-icon>&nbsp; {{"TAMBAH" | translate}} &nbsp;
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-padding-top" style="background-color: #ecf0f1;">
  <ion-toolbar style="--background: #ecf0f1;">
    <ion-searchbar mode="ios" debounce="500" placeholder=" cari belanjaan">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark" [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar mode="ios" debounce="500" placeholder=" cari belanjaan"></ion-searchbar>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" [routerLink]="['/settings']">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div *ngIf="!loading && data.length < 1" class="ion-padding ion-margin ion-text-center"
    style="color: #888;font-size: bold;">
    <ion-icon name="file-tray-outline" style="font-size: 40px;"></ion-icon>
    <div style="padding-bottom: 8px;">{{"list_kosong" | translate}}</div>
    <div>{{"grup_baru" | translate}}</div>
  </div>

  <ion-card *ngFor="let db of data" class="ion-no-margin ion-margin-top ion-margin-horizontal">
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-no-padding" [routerLink]="['/list', db.id_grup]" lines="none" detail="false">
        <img src="assets/img/cart.png" style="padding: 0 10px">
        <ion-label>
          <!-- <div style="font-weight: 500;">{{db.judul}}</div> -->
          <div style="color: #123456;font-size: 14px;font-weight: bold;">Belanjaan tanggal<br>{{db.tanggal}}</div>
          <div style="color:#40BFFF;font-size:13px;font-weight: bold;margin-top: 6px;">Rp. {{db.total | number}}</div>
        </ion-label>
        <div slot="end">
          <img src="assets/icons/pen.png" style="width:16px">
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loading">
    <ion-card-content class="ion-no-padding">
      <ion-skeleton-text class="ion-no-margin" animated style="height:300px;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button class="btn_tambah" color="primary" fill="solid" expand="block" [routerLink]="['/list', '']">
    {{"TAMBAH" | translate}}
  </ion-button>
</ion-footer>