<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"detail_belanja" | translate}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="hapusGrup()">
        <ion-icon name="trash"></ion-icon>
      </ion-button> -->
      <ion-button color="primary" fill="solid" (click)="popup_tambah()" style="--border-radius:50%;">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <!-- <ion-item lines="none">
        <ion-label position="stacked">{{"judul_grup" | translate}} :</ion-label>
        <ion-input [(ngModel)]="judul" (ionFocus)="hideAdmob()" (ionBlur)="updateJudul()"
          [placeholder]="'judul_placeholder' | translate"></ion-input>
      </ion-item> -->
      <ion-item lines="none">
        <ion-label position="stacked">{{"tanggal_grup" | translate}} :</ion-label>
        <ion-datetime [(ngModel)]="tanggal" (ionChange)="updateTanggal()" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="loading">
    <ion-card-content class="ion-no-padding">
      <ion-skeleton-text class="ion-no-margin" animated style="height:200px;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <div *ngIf="data.length < 1" class="ion-padding ion-margin-horizontal ion-text-center"
    style="color:#888;font-size:bold;">
    <ion-icon name="file-tray-outline" style="font-size:40px;"></ion-icon>
    <div style="padding-bottom:8px;">{{"list_kosong" | translate}}</div>
    <div>{{"list_baru" | translate}}</div>
  </div>

  <ion-card *ngFor="let db of data">
    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <table width="100%">
        <tr [ngClass]="db.st_check == true ? 'checked':'unchecked'">
          <td width="1" (click)="checking(db.id,db.st_check)">
            <ion-item lines="none" style="margin-left:-10px;">
              <ion-checkbox class="ion-no-margin" [checked]="db.st_check"></ion-checkbox>
            </ion-item>
          </td>
          <td (click)="checking(db.id,db.st_check)">
            <ion-label>
              <div *ngIf="!db.st_check" class="nama_item">{{db.nama_item}}</div>
              <div *ngIf="db.st_check" class="nama_item st_check">{{db.nama_item}}</div>
            </ion-label>
          </td>
          <td>
            <div (click)="hapus(db.id)" style="float:right;margin:0 12px; width:16px;">
              <img src="assets/icons/remove.png">
            </div>

            <div (click)="edit(db.id, db.nama_item, db.harga, db.kuantiti)"
              style="float:right;margin:0 12px; width:16px;">
              <img src="assets/icons/pen_light.png">
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            <div class="nominal">Rp. {{db.harga | number}}
              <!-- x {{db.kuantiti}} = Rp.&nbsp;{{db.harga * db.kuantiti | number}} -->
            </div>
          </td>
          <td style="padding-right:7px;">
            <ion-button class="ion-no-padding" color="light" fill="outline" (click)="tambah(db.id,db.kuantiti)"
              style="--border-radius:0 4px 4px 0;float:right;font-size:20px;width:28px;height:28px;">
              <div style="color:#666;font-weight:bold;">+</div>
            </ion-button>

            <div class="ion-text-center"
              style="background-color:#eee;float:right;height:28px;margin-top:4px;padding-top:3px;width:32px;">
              {{db.kuantiti}}
            </div>

            <ion-button class="ion-no-padding" color="light" fill="outline" (click)="kurang(db.id,db.kuantiti)"
              style="--border-radius:4px 0 0 4px;float:right;font-size:20px;width:28px;height:28px;">
              <div style="color:#666;font-weight:bold;">-</div>
            </ion-button>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="popup_tambah()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <br>
  <br>
  <br>
</ion-content>
<ion-footer *ngIf="showFooter">
  <div class="">
    <table class="total" width="100%">
      <tr>
        <td>TOTAL :</td>
        <td width="1">Rp.&nbsp;{{total | number}}</td>
      </tr>
    </table>
  </div>
</ion-footer>