.nama_item {
    font-size: 16px;
    font-weight: 500;
}

.st_check {
    text-decoration: line-through;
}

.nominal {
    // color: #34495e;
    color: #40bfff;
    font-size: 15px;
    font-weight: bold;
}

.total {
    background-color: #fff;
    border-radius: 8px;
    td {
        color: #444;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 20px;
    }
}

.checked {
    background-color: #efefef;
    ion-item {
        --background: #efefef;
    }
}

.unchecked {
    background-color: #fff;
    ion-item {
        --background: #fff;
    }
}

td {
    // border:1px solid red;
}
